*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif JP', serif;
    color:#4d5750;
}

header{
    display: flex;
    width:100%;
    margin:auto;
    padding:0 10%;
    align-items: center;
    height: 10vh;
    box-shadow: 1px 1px 10px black;
}

.logo-container,.nav-links{
    display: flex;
}

.logo-container{
    flex:1;
}

.logo-container img{
    height:65px;
}

.logo{
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
    line-height: 65px;
}

nav{
    flex:2;
}

.nav-links{
    justify-content:space-evenly;
    list-style: none;
}

.nav-link{
    font-size: 20px;
    text-decoration: none;
    padding:10px 30px;
    border:2px solid white;
    color:#4d5750;
}

.nav-link:hover{
    color: #97a89c;
    border-bottom-color: #97a89c;
    transition: 0.1s ease-in;
}








.main-bg-container{
    box-shadow: 1px 1px 10px #b6b4b4;
    overflow: hidden;
    height: 90vh;
    align-items: center;
    position: relative;
    background-image: url(./assets/mainbg.jpg);
    background-size: cover;
}
.main-bg{
    z-index: -2;
    position: absolute;
}

.main-title{
    font-size: 150px;
    color:white;
    position: absolute;
    width:100%;
    text-align: center;
    padding: 20% 0;
    text-shadow: 1px 1px 50px black;
    font-weight: 500;
}

.btn-bg{
    position: absolute;
    top:65%;
    left:50%;
    transform: translateX(-50%);
    padding: 10px 40px;
    color:white;
    background: #79C192;
    font-size: 24px;
    font-weight: 400;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.btn-bg:hover{
    background: #85ca9d;
}

.btn-bg:active{
    margin-top:2px;
}







section{
    width:90%;
    margin:auto;
    overflow: hidden;
}

.subtitle-container{
    align-items: center;
    margin: 30px 0px;
    
}

.subtitle-container img {
    height:100px;
    position: absolute;
    z-index: -1;
}

.subtitle{
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 100px;
    width:100px;
    text-align: center;
    color:white;
    -webkit-text-stroke: 0.4px #79C192;
}



.food-content{
    display:flex;
    margin-bottom: 2%;
}

.list-container{
    flex:1;
    height: 80vh;
    padding-right: 2%;
}


#food-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
} 

.food-list {
    list-style:none;
    margin:20px 0px;
    display: flex;
    padding:15px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px  #7474743f;
}

.food-list-img {
    width:100px;
    height: auto;
    margin-right: 20px;
}

.food-list-img img {
    height: 100px;
    border-radius: 100%;
    width: 100px;
    object-fit: cover;
    border: 2px solid #79C192;
}

.food-list-text {
    vertical-align: middle;

}

.food-list-text h3 {
    font-size: 24px;

}





.map-container{
    flex:1;
    margin:auto;
}

#mapid{ 
    height: 80vh; 
    width: 100%;
}

.event-content{
    height:auto;
}

.event-content-text{
    text-align: center;
}

.event-content-text h3 {
    font-size: 32px;
    margin-bottom: 2%;
}

.event-content-text p {
    width:80%;
    margin: auto;
}

.event-content-video{
    width:100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.event-content-video iframe{
    box-shadow: 1px 1px 10px #7474743f;
    border-radius: 5px;
}

#topo{
    opacity: 0.2;
    position: absolute;
    z-index: -5;
    top:200%;
    width:70%;
    right:0px;

}

.footer{
    bottom: 0px;
    height:10vh;
    background: #353535;
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: 13px;
    font-weight: 300;
    color: #f5f5f5b2;
    line-height: 10vh;
}


@media screen and (max-width:768px){
    header {
        flex-direction: column;
        padding:10px 0px;
        height: auto;
    }
    .logo-container img{
        height:65px;
    }
    .logo{
        font-size: 18px;
        margin-left: 5px;
        line-height: 65px;
    }
    nav{
        margin:10px 0px;
    }

    .nav-links{
        display: flex;
    }
    .nav-link{
        width:100%;
        flex-direction: column;
    }


    .main-title{
        font-size: 75px;
        top:25%
    }

    
    .subtitle-container img {
        height:75px;
    }
    
    .subtitle{
        font-size: 33px;
        letter-spacing: 4px;
        line-height: 75px;
        width:75px;
    }


    .food-content{
        flex-direction: column;
    }

    #food-lists {
        display: flex;
        flex-direction: column;
        height: 80vh;
        margin-bottom: 50px;
    } 

    .food-list {

        margin:10px 0px;
        display: flex;
        padding:7px 5px;
        border-radius: 2px;
    }

    .map-container{
        margin-top: 50px;
    }
    
    #mapid{ 
        height: 400px; 
        width: 400px;
    }

    .event-content-video iframe {
        height:250px;
        width: 400px;
    }
}
@media screen and (max-width:1024px){
    header {
        flex-direction: column;
        padding:10px 0px;
        height: auto;
    }
    .logo-container img{
        height:65px;
    }
    .logo{
        font-size: 18px;
        margin-left: 5px;
        line-height: 65px;
    }
    nav{
        margin:10px 0px;
    }


    .main-title{
        font-size: 100px;
        top:25%
    }

    
    .subtitle-container img {
        height:75px;
    }
    
    .subtitle{
        font-size: 33px;
        letter-spacing: 4px;
        line-height: 75px;
        width:75px;
    }


    .food-content{
        flex-direction: column;
    }

    #food-lists {
        display: flex;
        flex-direction: column;
        height: 80vh;
        margin-bottom: 50px;
    } 

    .food-list {

        margin:10px 0px;
        display: flex;
        padding:7px 5px;
        border-radius: 2px;
    }

    .map-container{
        margin-top: 50px;
    }
    
    #mapid{ 
        height: 500px; 
        width: 500px;
    }

    .event-content-video iframe {
        height:300px;
        width: 500px;
    }


}
